@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --green: #27ae60;
  --black: #2c2c54;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  list-style: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  min-height: 100vh;
  scroll-padding-top: 3rem;
  scroll-behavior: smooth;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  padding: 1rem 9%;
}

.logo {
  /* background-color: red; */
  display: flex;
  font-size: 2.5rem;
  font-weight: bolder;
  padding: 6px;
  color: var(--black);
  cursor: pointer;
}

.logo i {
  padding-right: 0.5rem;
  color: var(--green);
}

/* .logo span {
    color: var(--black);
  } */

.search-box {
  display: flex;
  width: 400px;
  height: 2.8rem;
  background-color: red;
}

.search-box .search-input {
  width: 100%;
  padding-left: 1rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
}

.search-box .search-icon {
  width: 50px;
  background-color: var(--green);
  color: #fff;
  font-size: 1.5rem;
  padding: 9px 8px 8px 10px;
  cursor: pointer;
}

.search-box .search-icon:hover {
  background-color: var(--black);
}

/* header-2 start */
.header-2 {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 9%;
  background-color: #fff;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-2 .menu ul {
  display: flex;
  gap: 0.5rem;
}

.header-2 .menu ul li {
  list-style: none;
}

.header-2 .menu ul li a {
  font-size: 1.3rem;
  padding: 4px 10px;
  border-radius: 10px;
  color: var(--black);
}

.header-2 .menu ul li a.active-1 {
  background-color: var(--green);
  color: #fff;
}

.header-2 .menu ul li a:hover {
  background-color: var(--green);
  color: #fff;
}

.icons {
  display: flex;
  /* background-color: red; */
  gap: 0.5rem;
}

.icons .btn {
  padding: 4px 10px;
  font-size: 1.3rem;
  cursor: pointer;
  color: var(--black);
}

.icons .btn:hover {
  color: var(--green);
}

#menu-bar {
  font-size: 2rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--black);
  padding: 0.3rem 0.8rem;
  cursor: pointer;
  display: none;
}
/* header-2 end */



:root {
    --green: #27ae60;
    --black: #2c2c54;
  }
  
  /* body{
    height: 200rem;
  } */
  
  /* Media Queries for Responsive Design */
  @media (max-width: 1200px) {
  
  }
  
  @media (max-width: 991px) {
    .header,
    .header-2 {
      padding: 0.8rem;
    }
  
  }
  
  @media (max-width: 768px) {
    #menu-bar {
      display: initial;
    }
  
    .header-2 .menu {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: var(--black);
      padding: 2rem;
      display: none;
    }
  
    .menu.active {
      display: block;
    }
  
    .header-2 .menu ul {
      flex-direction: column;
    }
  
    .header-2 .menu ul li a {
      font-size: 1.5rem;
      display: block;
      text-align: center;
      background-color: #fff;
      padding: 0.6rem;
      margin: 0.5rem 0;
    }
  
  }
  
  @media (max-width: 480px) {
    
  }
  
  @media (max-width: 450px) {
    .header {
      flex-flow: column;
    }
  
    .header .search-box {
      width: 100%;
      margin: 0.5rem;
    }
  
    .logo {
      font-size: 2.5rem;
    }
  
    .header-2 .menu ul li a {
      font-size: 1.2rem;
    }
  
  }
  
  @media (max-width: 400px) {
   
  }
  
  @media (max-width: 350px) {
    
  }
  